<div class="card-container">
    <div class="personal-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ personal.strNombreCompleto }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ personal.strDNI }}</h6>
                <p class="card-text">Dirección: {{ personal.strDireccion }}</p>
                <p class="card-text">Teléfono: {{ personal.strTelefono }}</p>
                <p class="card-text">Correo: {{ personal.strCorreo }}</p>
            </div>
        </div>
    </div>
</div>