<div *ngIf="alerta" class="alert-detail">
    <h1>Detalle de Alerta</h1>
    <p><strong>Código:</strong> {{ alerta.strCodAlerta }}</p>
    <p><strong>Departamento:</strong> {{ alerta.strDepartamento }}</p>
    <p><strong>Provincia:</strong> {{ alerta.strProvincia }}</p>
    <p><strong>Distrito:</strong> {{ alerta.strDistrito }}</p>
    <p><strong>Dirección:</strong> {{ alerta.strDireccion }}</p>
    <p><strong>Descripción:</strong> {{ alerta.strDescripcion }}</p>
    <!-- Mapa -->
    <!-- en comentarios quiero el codigo que aparte de tener el punto de origen y destino trace la ruta en rojo -->
    <google-map height="400px" width="750px" [center]="{ lat: latitud!, lng: longitud! }" [zoom]="zoom"
        (mapClick)="onMapClick($event)">
        <map-marker [position]="{ lat: -12.0915786, lng: -77.0546718 }" label="Origen"></map-marker> <map-marker
            [position]="{ lat: latitud!, lng: longitud! }" label="Destino"></map-marker>
    </google-map>
    <div>Latitude: {{alerta.strLatitud}}</div>
    <div>Longitude: {{alerta.strLongitud}}</div><!-- Añadir mapa aquí -->
    <div *ngIf="alerta.bitEstado">
        <button class="descartar-button" (click)="descartarAlerta()">Descartar</button>
        <div>
            <label for="grupoPersonal">Asignar a Grupo Personal:</label>
            <select id="grupoPersonal" [(ngModel)]="selectedGrupoPersonal">
                <option *ngFor="let grupo of gruposPersonalesActivos" [value]="grupo.intIdGrupoPersonal">{{
                    grupo.strNombreGrupoPersonal }}</option>
            </select>
            <button class="asignar-button" (click)="actualizarAlerta()">Asignar</button>
        </div>
    </div>

    <div *ngIf="!alerta.bitEstado">
        <button class="resolver-button" (click)="descartarAlerta()">Alerta Resuelta</button>
    </div>
</div>

<p *ngIf="!alerta">Cargando...</p>